* {
  font-size: 1.025em;
}
#heading {
  margin: 30px;
}
#cy {
  width: auto;
  height: 1000px;
}

#go-table {
  width: 20%;
  height: 40%;
  position: absolute;
  right: 50px;
  top: 300px;
  margin-left: 5%;
  margin-bottom: 20px;
  background-color: #FFF;
  opacity: 0.97;
}
th, td {
  padding: 10px;
}
#keyword-input-div {
  margin: 30px;
  max-width: 500px;
  background-color: #FFF;
  padding: 10px;
}
#mol-func {
  background-color: #3B185F;
}
#biol-proc {
  background-color: #A12568;
}
#cell-comp {
  background-color: #539165;
}
#legend {
  color:#FFF;
  width: fit-content;
  margin: 20px;
  position: absolute;
  right: 20px;
  z-index: 3;
}
#legend > p {
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
}
#header-form-div {
  position: absolute;
  z-index: 3;
}

#deg-table {
  width: 98%;
  margin: 0 auto;
}

#deg-table th {
  word-break: break-all;
}

#download-btn, #go-btn {
  margin: 20px auto;
  display: block;
}